*{
    box-sizing: border-box;
}

body {
    background-image: url("../images/vintage-concrete.png");
    /* height: 100%; */
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color:#777777;
  }
  .bg {
    /* The image used */
   /* background-image: url("../images/vintage-concrete.png");*/
  
    /* Full height */
   /* height: 100%; 
  
    /* Center and scale the image nicely */
    /*background-position: center;
   /* background-repeat: no-repeat;*/
    
  }

  .header {
    background-color: #ffffff;
    position:fixed; 
    top:0px;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    height: 90px;
    position: fixed;
  }

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    /*margin-left: 200px;
    margin-top: 0px;*/
    text-align: center;
    padding: 25px;
    height: 88px;
    position: fixed;
    margin-top: 0px;
    margin-left: 195px;

   
}

ul {
    list-style: none;
}

a {
    color: #777777;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    
}

a:hover {
    color: #4aaaa5;
}

.tabs {
    float: left;
    
}
#left{
    float: left;
    border-right: 1px solid #777777;
    z-index: 5;
    line-height: 18px;
    margin-top: 15px;
    margin-left: 875px;  
   
}

#middle{
    float: left;
    border-right: 1px solid #777777;
    z-index: 5;
    line-height: 18px;
    margin-top: 15px;
}

#right{
    float: left;
    line-height: 18px;
    margin-top: 15px;

}




.container {
    width: 960px;
    /*margin-top: 100px;
   margin-left: 200px;*/
    background-color: #ffffff;
    border: 1px solid #dddddd;
    /*height: 460px;*/
    margin: 0 auto 0 auto;
    position: relative;
    padding: 30px;
    top: 125px;
    height: 500px;
    z-index: -1;
    

    
}

h2 {
    clear: both;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 30px;
    margin-top: 5px;
    /*margin-left: 25px;*/

}

h3 {
    border-top: 3px solid #dadada; 
    color: #ffffff;   
    
}

#me {
    float: left;
    height: 35%;
    width: 25%;
    border: 1px solid #dddddd;
    margin-top: -15px;
}

/*THIS CLASS IS SUPPOSED TO EDIT THE PARAGRAPHS BUT ITS NOT WORKING*/
/*.Paragraphs {
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: red;
}*/

#first-paragraph {
    margin: -40px 15px -5px 245px;
    position: absolute;


    
    
}

#second-paragraph {
    margin: 170px 15px -5px 0px;
    position: absolute;
}

#third-paragraph {
    margin: 172px 15px -5px 0px;
    position: absolute;
    display: none;
}

#footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    font-size: 12px;
    padding-top: 18px;
    width: 100%;
    height: 50px;
    color: rgb(201, 200, 200);
}